{% for p in lista %}
  <tr>
    <th>{{forloop.counter}}</th>
    <td>
      <a href="#proyecto" onclick="verp({{p.id}})">
        {{p.documento}}  
      </a>
      
    </td>

    <td>
    <a href="media/{{p.archivo}}" target="_blank">→ ver</a>
    </td>

    <td>
        {{p.idestado.descripcion|title}}<br><br>
      
        <ol>
        {% for a in p.idresolucion.all  %}
            <li>{{a.numero}} → <a href="media/{{a.contenido}}" target="_blank">ver</a></li>
        {% endfor %}
        </ol>
    </td>
    <td>
      <a href="#participantes" onclick="verparticipante({{p.id}})">→ ver</a>
    </td> 
    <td>
      {% if p.idsolicitud %}
        <a href="#solicitud" onclick="vers({{p.id}})" >→ ver</a>
      {% else %}
        NO ENTREGADO
      {% endif %}
    </td> 
    <td>
      {% if p.idinforme %}
          <a href="#informe" onclick="veri({{p.id}})" >→ ver</a>
      {% else %}
        NO Emitido <br>
      {% endif %}      
    </td>     
    <td>
      {% if p.idresolucion %}
        <a href="#resolucion" onclick="vere({{p.id}})" >→ ver</a>
      {% else %}
        NO Emitido
      {% endif %}    
    </td>
  </tr>
{% endfor %}

