<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <br>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <strong>Reportes detallados</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title form-inline">
<div class="panel blank-panel">
  <div class="panel-heading">
    <div class="panel-options">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-1" data-toggle="tab">Reportes Detallados</a></li>
        <li>
          <a id="imprime" href="#"title="Imprimir" >
            <i class="fa fa-print fa-2x"></i>
          </a>  
        </li>
      </ul>            
       
      
    </div>
  </div>

  <div class="panel-body">

      <div class="tab-content">
      
        <div class="tab-pane active todo" id="tab-1">
                
                    <div class="ibox-content">
                        <div class="row">
                            <form method="post" enctype="multipart/form-data" id="formulario{{n}}">
                            {% csrf_token %}
                            <div class="col-sm-3 b-r"><h3 class="m-t-none m-b">Proyectos</h3>
                                <label for="id_asunto">Semestre Académico:</label>
                                <select class="form-control selEx chosen-select" name="ids">
                                  {% for c in  idsemestre %}
                                    <option value="{{c.id}}" >{{c.descripcion}}</option>
                                  {% endfor %}
                                </select>   <br>
                                <label for="id_nro">Proyecto:</label>
                                <input type="text" name="proyecto" class="form-control input-sm" value="" placeholder=""><br>

                                <label for="id_Estado">Estado:</label><br>
                                <select class="form-control selEx chosen-select" name="estado">
                                  {% for c in  idestado %}
                                    <option value="{{c.id}}" >{{c.descripcion}}</option>
                                  {% endfor %}
                                </select> 
                                <hr>
                                <input class="btn btn-sm btn-primary" onclick="Buscar('reportes/','{{n}}')"  type="button" value= "Buscar"/>

                            </div>
                            </form> 
                            <div class="col-sm-9">
                <div class="ibox-content table-responsive">
                     <h3 align="center">Proyectos</h3>    
                      <input class="form-control input-sm" onblur="nroPag(this,'{{url}}')" style="width:70px" type="number" id="selP" value="{{pag}}">   
                     <table class="table table-bordered" style="  margin-bottom: -5px;">
                          <thead>
                              <tr>
                                  <th>#</th>
                                  <th>Documento</th>                                  
                                  <th>Archivo</th>
                                  <th>Estado</th>
                                  <th>Participantes</th>
                                  <th>Solicitud</th>                                 
                                  <th>Informe</th>
                                  <th>Resolución</th>
                              </tr>
                          </thead>
                          <tbody class="{{n}}">
                            {% include "reportes/reportes_detallados/ajax_reportes_detallados.html" %}
                          </tbody>
                      </table> 
                      {% with lista as paginacion  %}
                          {% include "paginacion.html" %}
                      {% endwith %}                       
                </div>                                                          
                            </div>


                        </div>
                    </div>
        </div>
    </div>
    
  </div>
</div>
                </div>

            </div>
        </div>
    </div>
</div>

            
{% load static from  staticfiles %}
<script src="{%static 'js/base.js' %}"></script>
<script src="{%static 'js/buscar.js' %}"></script>
<script src="{%static 'js/proyecto-solicitud.js' %}"></script>
<script src="{%static 'js/proyecto-informe.js' %}"></script>
<script src="{%static 'js/proyecto-resolucion.js' %}"></script>
<script src="{%static 'js/jquery.printarea.js' %}"></script>
<script src="{%static 'js/reportes.js' %}"></script>