                      {% for p in lista %}
                          <div class="lightBoxGallery">
                            TÍTULO : {{p.titulo}}<br>
                            <a href="media/{{p.url}}" title="Apple"  target="_blank">
                                <img src="media/{{p.url}}" width="100px" height="100px" alt="{{p.titulo}}">   
                            </a><br>
                            DESCRIPCIÓN: {{p.descripcion}}<br>
                          </div>
                          {% for i in  estado %}
                          {% if i.editar == 1 %}
                          <a href="#">
                              <i onclick="actualizar({{p.id}},'actualizar_fotos','{{n}}','{{idg}}')" class="fa fa-pencil-square-o fa-2x"></i>
                          </a>
                          {% endif %}
                          {% if i.eliminar == 1 %}
                          <a onclick="eliminar({{p.id}},'eliminar_fotos','{{n}}','{{idg}}')" href="#eliminar">
                            <i style="color: red" class="fa fa-trash-o  fa-2x"></i>
                          </a>
                          {% endif %}
                          {% endfor %}
                          <br>
                      {% endfor %}   