<div id="Modal{{n}}" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5>Formulario <small>llenar todos los campos</small></h5>    
                <div class="ibox-content">
                    <div class="row">
                    <form method="post" id="formulario{{n}}" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Datos</h3>
                          <label for="titulo"
                          {% if formuH.titulo.errors %}
                            data-html="true" data-toggle="popover" data-content="
                                <p style='color:red; font-size: 13px; margin: 0 0 0px;'> este campo es obligatorio </p>
                            "
                          {% endif %}
                          >Título:</label>
                          {{formuH.titulo.errors}}
                          {{formuH.titulo}}
                          <label for="descripcion"
                          {% if formuH.descripcion.errors %}
                            data-html="true" data-toggle="popover" data-content="
                                <p style='color:red; font-size: 13px; margin: 0 0 0px;'> este campo es obligatorio </p>
                            "
                          {% endif %}
                          >Título:</label>
                          {{formuH.descripcion.errors}}
                          {{formuH.descripcion}}                          
                        </div>

                        <div class="col-sm-6"><h4>Subir Foto</h4>
                            <label for="id_resolucion"
                            {% if formuH.url.errors %}
                              data-html="true" data-toggle="popover" data-content="
                                  <p style='color:red; font-size: 13px; margin: 0 0 0px;'> este campo es obligatorio </p>
                              "
                            {% endif %}
                            >Foto:</label>
                            {{formuH.url.errors}}
                            {{formuH.url}}
                            <input type="hidden" name="idgaleria" value="{{idg}}" placeholder="">
                          </div>
                      </form> 
                      </div>
                </div>
        </div>
                
        <div class="modal-footer">
                <button class="btn btn-sm btn-primary guar" onclick="guardarFotos('{{url}}','{{n}}','{{u}}','{{idg}}')" type="button">guardar</button>
                <button type="button" class="btn btn-sm  btn-danger" data-dismiss="modal"> Cancelar</button>
        </div>
    </div>
   </div>
</div>