                      {% for p in lista %}
                          <a href="#" onclick="fotos({{p.id}})" >{{p.nombre}}</a>
                          {% for i in  estado %}
                          {% if i.editar == 1 %}
                          <a href="#">
                              <i onclick="actualizar({{p.id}},'actualizar_galeria','{{n}}')" class="fa fa-pencil-square-o fa-2x"></i>
                          </a>
                          {% endif %}
                          {% if i.eliminar == 1 %}
                          <a onclick="eliminar({{p.id}},'eliminar_galeria','{{n}}')" href="#eliminar">
                            <i style="color: red" class="fa fa-trash-o  fa-2x"></i>
                          </a>
                          {% endif %}
                          {% endfor %}
                          <br>
                      {% endfor %}   