{% csrf_token %}
    <label for="nombre"
    {% if formu.nombre.errors %}
    data-html="true" data-toggle="popover" data-content="
        <p style='color:red; font-size: 13px; margin: 0 0 0px;'> Nombre es obligatorio </p>
    "
    {% endif %}
    >Nombre:</label>
    {{formu.nombre.errors}}
    {{formu.nombre}}

