<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <br>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <strong>Registro de Galeria</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title form-inline">
                  <button data-toggle="modal" data-target="#Modal{{n}}" class="btn btn-sm btn-primary"><strong>Nueva Galería</strong></button>
                </div>
                <div class="ibox-content">
                     <h3 align="center">Galeria</h3>
                     <div id="gale">
                      {% include "galeria/ajax_galeria.html" %}                   
                     </div>
                      
                </div>
            </div>
        </div>
    </div>
</div>            
<div class="modalP"></div>

{% with nombre=formu %}
    {% include "seguridad/modal.html" %} 
{% endwith %}

{% load static from  staticfiles %}
<script src="{%static 'js/base.js' %}"></script>
<script src="{%static 'js/galeria.js' %}"></script>