{% csrf_token %}
    <label for="descripcion"
    {% if formu.semestre_academico.errors %}
    data-html="true" data-toggle="popover" data-content="
        <p style='color:red; font-size: 13px; margin: 0 0 0px;'> este campo es obligatorio </p>
    "
    {% endif %}
    >Descripción:</label>
    {{formu.descripcion.errors}}
    {{formu.descripcion}}

    <label for="fechainicio"
    {% if formu.semestre_academico.errors %}
    data-html="true" data-toggle="popover" data-content="
        <p style='color:red; font-size: 13px; margin: 0 0 0px;'> este campo es obligatorio </p>
    "
    {% endif %}
    >Fecha Inicio:</label>
    {{formu.fechainicio.errors}}
    {{formu.fechainicio}}

    <label for="fechatermino"
    {% if formu.semestre_academico.errors %}
    data-html="true" data-toggle="popover" data-content="
        <p style='color:red; font-size: 13px; margin: 0 0 0px;'> este campo es obligatorio </p>
    "
    {% endif %}
    >Fecha Termino:</label>
    {{formu.fechatermino.errors}}
    {{formu.fechatermino}}