{% for p in lista %}
  <tr>
    <th>{{forloop.counter}}</th>
    <td>
      <a href="#proyecto" onclick="verp({{p.id}})">
        {{p.documento}}  
      </a>
      
    </td>
    <!--<td>{{p.fechainicio}}</td>
    <td>{{p.fechatermino}}</td> -->

    <td>
    <a href="media/{{p.archivo}}" target="_blank">→ ver</a>
    </td>

    <td>
    {{p.idestado.descripcion|title}}<br><br>
    {% for i in  estado %}
    {% if i.editar == 1 %}    
    {% if p.idestado.id == 2 %}
      → <a href="#estado" onclick="cambiarestado({{p.id}},4)">No Aprobado</a>
    {% endif %}
    {% if p.idestado.id == 4 %}
      → <a href="#estado" onclick="cambiarestado({{p.id}},3)">Aprobado</a>
    {% endif %}    
    {% if p.idestado.id == 3 %}
      → <a href="#estado" onclick="cambiarestado({{p.id}},4)">No Aprobado</a>
      → <a href="#estado" onclick="cambiarestado({{p.id}},6)">Ejecutado</a>
    {% endif %}      
    {% if p.idestado.id == 6 %}
      → <a href="#estado" onclick="cambiarestado({{p.id}},5)">Ejecutado</a>
    {% endif %}     
    {% if p.idestado.id == 5 %}
      → <a href="#estado" onclick="cambiarestado({{p.id}},6)">No Ejecutado</a>
    {% endif %} 
    {% endif %}
  {% endfor %}         
    <ol>
    {% for a in p.idresolucion.all  %}
        <li>{{a.numero}} → <a href="media/{{a.contenido}}" target="_blank">ver</a></li>
    {% endfor %}
    </ol>
    </td>
    <td>
      <a href="#participantes" onclick="verparticipante({{p.id}})">→ ver</a>
    </td> 
    <td>
      {% if p.idsolicitud %}
        <a href="#solicitud" onclick="vers({{p.id}})" >→ ver</a>
      {% else %}
        NO ENTREGADO
      {% endif %}
    </td> 
    <td>
      {% if p.idinforme %}
          <a href="#informe" onclick="veri({{p.id}})" >→ ver</a>
      {% else %}
        NO Emitido <br>
        <a href="#" onclick="addinforme({{p.id}})">→ emitir  </a>
      {% endif %}      
    </td>     
    <td>
      {% if p.idresolucion %}
        <a href="#resolucion" onclick="vere({{p.id}})" >→ ver</a>
      {% else %}
        NO Emitido
        {% if p.idinforme %}
          <a href="#" onclick="addresolucion({{p.id}})">→ emitir  </a>
        {% endif %} 
      {% endif %}    
    </td>
    {% for i in  estado %}
    {% if i.editar == 1 %}
    <td>
      <a href="#">
        <i onclick="actualizar({{p.id}},'actualizar_proyecto','{{n}}')" class="fa fa-pencil-square-o fa-2x"></i>
      </a>
    </td>
    {% endif %}

    {% if i.eliminar == 1 %}
    <td>
      <a onclick="eliminar({{p.id}},'eliminar_proyecto','{{n}}')" href="#eliminar">
      <i style="color: red" class="fa fa-trash-o  fa-2x"></i>
      </a>
    </td>
    {% endif %}
  {% endfor %}
  </tr>
{% endfor %}

