{% csrf_token %}
<div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Actualizar Proyecto</h3>
    {{formu.idsemestre}}
    <label for="id_documento" 
    {% if formu.documento.errors %}
      {% for error in formu.documento.errors %}
        data-html="true" data-toggle="popover" data-content="
            <p style='color:red; font-size: 13px; margin: 0 0 0px;'> {{ error|escape }}</p>
        "
      {% endfor %}
    {% endif %}
    >Proyecto:</label>
    {{formu.documento.errors}}
    {{formu.documento}}    

    <label for="id_fechainicio" 
    {% if formu.fechainicio.errors %}
    data-html="true" data-toggle="popover" data-content="
        <p style='color:red; font-size: 13px; margin: 0 0 0px;'> Fecha de Inicio es obligatorio </p>
    "
    {% endif %}
    >Fecha de Inicio:</label>
    {{formu.fechainicio.errors}}
    {{formu.fechainicio}}


    <label for="id_fechatermino" 
    {% if formu.fechatermino.errors %}
    data-html="true" data-toggle="popover" data-content="
        <p style='color:red; font-size: 13px; margin: 0 0 0px;'> Fecha de Culminación es obligatorio </p>
    
    "
    {% endif %}
    >Fecha de Culminación:</label>
    {{formu.fechatermino.errors}}
    {{formu.fechatermino}}

    {{ formu.message.errors }}

    <label for="id_archivo"
    {% if formu.archivo.errors %}
        {% for error in formu.archivo.errors %}
        data-html="true" data-toggle="popover" data-content="
            <p style='color:red; font-size: 13px; margin: 0 0 0px;'> {{ error|escape }}</p>
        
        "
        {% endfor %}
    {% endif %}
    >Agregar Proyecto:</label>
    {{formu.archivo.errors}}
    {{formu.archivo}}


</div>
<div class="col-sm-6"><h4>Contenido</h4>
    <label for="id_asunto" 
    {% if formu.asunto.errors %}
    data-html="true" data-toggle="popover" data-content="
        <p style='color:red; font-size: 13px; margin: 0 0 0px;'> Asunto del Proyecto es obligatorio </p>
    "
    {% endif %}
    >Asunto:</label>
    {{formu.asunto.errors}}
    {{formu.asunto}}

   <br>
</div>
