{% csrf_token %}
<h5>Editar Solicitud</h5>
<div class="ibox-content">
 <div class="row">
   <div class="col-md-6 b-r">
    <label for="id_nombresolicitud" 
    {% if formu.nombresolicitud.errors %}
      {% for error in formu.nombresolicitud.errors %}
        data-html="true" data-toggle="popover" data-content="
            <p style='color:red; font-size: 13px; margin: 0 0 0px;'> {{ error|escape }}</p>
        "
      {% endfor %}
    {% endif %}
    >Nombre de la Solicitud:</label>
    {{formu.nombresolicitud.errors}}
    {{formu.nombresolicitud}}<br>    

    <label for="id_proveidosolicitud" 
    {% if formu.proveidosolicitud.errors %}
      {% for error in formu.proveidosolicitud.errors %}
        data-html="true" data-toggle="popover" data-content="
            <p style='color:red; font-size: 13px; margin: 0 0 0px;'> {{ error|escape }}</p>
        "
      {% endfor %}
    {% endif %}
    >Proveido de la Solicitud:</label>
    {{formu.proveidosolicitud.errors}}
    {{formu.proveidosolicitud}}<br>      

    <label for="id_asuntosolicitud" 
    {% if formu.asuntosolicitud.errors %}
      {% for error in formu.asuntosolicitud.errors %}
        data-html="true" data-toggle="popover" data-content="
            <p style='color:red; font-size: 13px; margin: 0 0 0px;'> {{ error|escape }}</p>
        "
      {% endfor %}
    {% endif %}
    >Asunto de la Solicitud:</label>
    {{formu.asuntosolicitud.errors}}
    {{formu.asuntosolicitud}}    

   </div>
   <div class="col-md-6">
    <label for="id_fechadocumento" 
    {% if formu.fechadocumento.errors %}
      {% for error in formu.fechadocumento.errors %}
        data-html="true" data-toggle="popover" data-content="
            <p style='color:red; font-size: 13px; margin: 0 0 0px;'> {{ error|escape }}</p>
        "
      {% endfor %}
    {% endif %}
    >Fecha de la Solicitud:</label>
    {{formu.fechadocumento.errors}}
    {{formu.fechadocumento}}<br>    

    <label for="id_archivosolicitud" 
    {% if formu.archivosolicitud.errors %}
      {% for error in formu.archivosolicitud.errors %}
        data-html="true" data-toggle="popover" data-content="
            <p style='color:red; font-size: 13px; margin: 0 0 0px;'> {{ error|escape }}</p>
        "
      {% endfor %}
    {% endif %}
    >Archivo de la Solicitud:</label><br>
    {{formu.archivosolicitud.errors}}
    {{formu.archivosolicitud}}            
   </div>
  </div>
</div>    