{% csrf_token %}
<div class="col-sm-4 b-r"><h3 class="m-t-none m-b">Registrar Proyecto</h3>
    {{formu.idsemestre}}
    <label for="id_documento" 
    {% if formu.documento.errors %}
    data-html="true" data-toggle="popover" data-content="
        <p style='color:red; font-size: 13px; margin: 0 0 0px;'> Nombre de Proyecto es obligatorio </p>
    "
    {% endif %}
    >Proyecto:</label>
    {{formu.documento.errors}}
    {{formu.documento}}    

    <label for="id_fechainicio" 
    {% if formu.fechainicio.errors %}
    data-html="true" data-toggle="popover" data-content="
        <p style='color:red; font-size: 13px; margin: 0 0 0px;'> Fecha de Inicio es obligatorio </p>
    "
    {% endif %}
    >Fecha de Inicio:</label>
    {{formu.fechainicio.errors}}
    {{formu.fechainicio}}


    <label for="id_fechatermino" 
    {% if formu.fechatermino.errors %}
    data-html="true" data-toggle="popover" data-content="
        <p style='color:red; font-size: 13px; margin: 0 0 0px;'> Fecha de Culminación es obligatorio </p>
    
    "
    {% endif %}
    >Fecha de Culminación:</label>
    {{formu.fechatermino.errors}}
    {{formu.fechatermino}}


    <label for="id_archivo"
    {% if formu.archivo.errors %}
    data-html="true" data-toggle="popover" data-content="
        <p style='color:red; font-size: 13px; margin: 0 0 0px;'> Archivo del Proyecto es obligatorio </p>
    
    "
    {% endif %}
    >Agregar Proyecto:</label>
    {{formu.archivo.errors}}
    {{formu.archivo}}


    <label for="id_idsolicitud"
    {% if formu.idsolicitud.errors %}
    data-html="true" data-toggle="popover" data-content="
        <p style='color:red; font-size: 13px; margin: 0 0 0px;'> Solicitud del Proyecto es obligatorio </p>
    "
    {% endif %}
    >Solicitud:</label>
    {{formu.idsolicitud.errors}}
    <br>
    <a href="#" id="addsolitud" onclick="solicitud()">                                  
        <i class="fa fa-plus-circle"></i> agregar solicitud          
    </a>
    <table class="table" >
        <tbody id="mostrarSoli"></tbody>
    </table>
    <div id="soli"></div>

</div>
<div class="col-sm-4  b-r"><h4>Contenido</h4>
    <label for="id_asunto" 
    {% if formu.asunto.errors %}
    data-html="true" data-toggle="popover" data-content="
        <p style='color:red; font-size: 13px; margin: 0 0 0px;'> Asunto del Proyecto es obligatorio </p>
    "
    {% endif %}
    >Asunto:</label>
    {{formu.asunto.errors}}
    {{formu.asunto}}

   <br>
   <h4>Participantes</h4>
    <label for="id_iddocente" 
    {% if formu.iddocente.errors %}
    data-html="true" data-toggle="popover" data-content="
        <p style='color:red; font-size: 13px; margin: 0 0 0px;'> Docentes es obligatorio </p>
    "
    {% endif %}
    >Docentes:</label>
    {{formu.iddocente.errors}}
    <a href="#" id="adddocente" onclick="modalidad('docente')">                        
        <i class="fa fa-plus-circle"></i> agregar docentes           
    </a>
    <a href="#" id="editdocente" style="display: none" onclick="editmodalidad('docente')">                       
        <i class="fa fa-pencil-square-o fa-2x"></i> Editar docentes           
    </a>                                
    <table class="table" >
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombres</th>
                <th>Modalidad</th>
            </tr>
        </thead>
        <tbody id="mostrardocente"></tbody>
    </table>
    <div id="docente"></div>    
</div>

<div class="col-sm-4"><h4>Participantes</h4>                                           
    <label for="id_idalumno" 
    {% if formu.idalumno.errors %}
    data-html="true" data-toggle="popover" 
    data-content="    
        <p style='color:red; font-size: 13px; margin: 0 0 0px;'> Alumnos es obligatorio </p>
    "
    {% endif %}
    >Alumnos:</label>
    {{formu.idalumno.errors}}
    <a href="#" id="addalumno" onclick="modalidad('alumno')">                        
        <i class="fa fa-plus-circle"></i> agregar alumnos           
    </a>
    <a href="#" id="editalumno" style="display: none" onclick="editmodalidad('alumno')">                        
        <i class="fa fa-pencil-square-o fa-2x"></i> Editar alumnos           
    </a>                                
    <table class="table" >
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombres</th>
                <th>Modalidad</th>
            </tr>
        </thead>
        <tbody id="mostraralumno"></tbody>
    </table>
    <div id="alumno"></div>
</div>    
