<div id="Modal{{n}}" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form method="post" id="formulario{{n}}" enctype="multipart/form-data">
                {% csrf_token %}
                <h5>Formulario <small>llenar todos los campos</small></h5>
               
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Actualizar Proyecto</h3>
                                {{formu.idsemestre}}
                                <label for="id_documento">Proyecto:</label>
                                {{formu.documento}}
                                {{formu.fecharecepcion}}
                                {{formu.idestado}}
                                <label for="id_fechainicio">Fecha de Inicio:</label>
                                {{formu.fechainicio}}
                                <label for="id_fechatermino">Fecha de Culminación:</label>
                                {{formu.fechatermino}}
                                <label for="id_archivo">Agregar Proyecto:</label><br>
                                {{formu.archivo}}         
                                
                            </div>
                            <div class="col-sm-6"><h4>Contenido</h4>
                                <label for="id_asunto">Asunto:</label>
                                {{formu.asunto}}
                                <br>
                            </div>
                        </div>
                    </div>

                 </form> 

                
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-primary guar" onclick="guardarF('{{url}}','{{n}}','{{u}}')" type="button">guardar</button>
                <button type="button" class="btn btn-sm  btn-danger" data-dismiss="modal"> Cancelar</button>
            </div>
        </div>

    </div>
</div>