<div id="Modal{{n}}" class="modal fade in" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form method="post" id="formulario{{n}}" enctype="multipart/form-data">
                {% csrf_token %}
                <h5>Editar Solicitud</h5>
               
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-6 b-r">
                                <label for="id_nombresolicitud">Nombre Solicitud:</label>
                                {{nombre.nombresolicitud}}<br>
                                <label for="id_proveidosolicitud">Proveido:</label>
                                {{nombre.proveidosolicitud}}<br>
                                <label for="id_asuntosolicitud">Asunto de la Solicitud:</label>
                                {{nombre.asuntosolicitud}}
                            </div>

                            <div class="col-md-6">
                                <label for="id_fechadocumento">Fecha de la Solicitud:</label>
                                {{nombre.fechadocumento}}<br>
                                <label for="id_archivosolicitud">Archivo de la Solicitud:</label><br>
                                {{nombre.archivosolicitud}}
                                
                            </div>                        
                        </div>                    
                    </div>

                 </form> 
                
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-primary guar" onclick="guardarSO('{{url}}','{{n}}','{{u}}')"id="{{i}}" type="button">guardar</button>
                <button type="button"  class="btn btn-sm  btn-danger" data-dismiss="modal"> Cancelar</button>
            </div>
        </div>

    </div>
</div>