<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <br>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <strong>Mostrar Proyecto</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title form-inline">
                  <button type="button" onclick="cargar('registro_proyecto')" class="btn btn-white"><i class="fa fa-chevron-left"></i> Atrás</button> <br>

                    
                  
                </div>
                <div class="ibox-content table-responsive">
                  
                  {% for p in lista  %}
                    <div class="rows container" style="width:100%">
                      <div class="col-md-8 b-r">
                        <h2><strong>Proyecto:</strong></h2>
                        <p>{{p.documento}}</p><br>
                      </div>
                      <div class="col-md-4">
                         <label>Estado:</label> <p>{{p.idestado.descripcion}}</p>
                      </div>
                    </div>
                    <hr>

                    <div class="rows">
                      <div class="col-md-4 b-r">
                        <label>Fecha de Inicio:</label><br>
                        {{p.fechainicio}}<br><br>

                        <label>Fecha de Culminación:</label>
                        <p>{{p.fechatermino}}</p>
                        <label>Archivo del proyecto:</label><br>
                        <a href="media/{{p.archivo}}" target="_blank">→ ver proyecto</a><br><br>    

                        <label>Proveido:</label>
                        <p>{{p.proveido}}</p><br>                        

                      </div>
                      <div class="col-md-4 b-r">
                        <label>Asunto:</label><br>
                        <p>{{p.asunto}}</p>                        
                        <label>Observación:</label><br>
                        <p>
                          {% if  p.observacion %}
                            {{p.observacion}}
                          {% else %}
                            Ninguna
                          {% endif %}
                        </p>                        
                      </div>                      
                      <div class="col-md-4">
                        <label>Fecha de Recepción del proyecto:</label><br>
                        {{p.fecharecepcion}}<br><br>
                        <label>Solicitud:</label><br>
                        <a href="#solicitud" onclick="vers({{p.id}})" >→ ver Solicitud</a><br><br>

                        <label>Informe:</label><br>
                        {% if p.idinforme %}
                            <a href="#informe" onclick="veri({{p.id}})" >→ ver Informe</a><br><br>
                        {% else %}
                          NO Emitido <br><br>
                        {% endif %}  

                        <label>Resolución:</label><br>  
                        {% if p.idresolucion %}
                          <a href="#resolucion" onclick="vere({{p.id}})" >→ ver Resolución</a><br><br>
                        {% else %}
                          NO Emitido <br><br>
                        {% endif %}                                                    

                        <label>Participantes:</label><br>
                        <a href="#participantes" onclick="verparticipante({{p.id}})">→ ver Participantes</a>
                      </div>
                          
                    </div>
                  {% endfor %}                      
                </div>
                
            </div>
        </div>
    </div>
</div>
