<style>
  .dis{
    display: none;
  }
</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <br>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <strong>Registro de Proyectos</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title form-inline">
                    
                    {% for i in  estado %}
                    <div class="col-md-1">
                    {% if i.insertar == 1 %}
                      <button data-toggle="modal" data-target="#Modal"class="btn btn-sm btn-primary" type="submit"><strong>Nuevo</strong></button>
                    {% endif %}
                    </div>
                    <div class="col-md-3">
                    {% if i.buscar == 1 %}
                    <input type="search" placeholder="Buscar" class="form-control Bex">
                    {% endif %}
                    </div>
                    
                    <div class="col-md-4">
                    <select class="form-control selEx chosen-select" >
                      {% for c in  idsemestre_academico %}
                        <option value="{{c.id}}" >{{c.descripcion}}</option>
                      {% endfor %}
                    </select>  
                    </div>
                    <input class="form-control" onblur="nroPag(this,'{{url}}')" style="width:70px" type="number" id="selP" value="{{pag}}"> 
                </div>
                <div class="ibox-content table-responsive">
                     <h3 align="center">proyectos</h3>    

                     <table class="table table-bordered" style="  margin-bottom: -5px;">
                          <thead>
                              <tr>
                                  <th>#</th>
                                  <th>Documento</th>
                                  <!--<th>Fecha de Inicio</th>
                                  <th>Fecha de Culminación</th> -->
                                  <th>Archivo</th>
                                  <th>Estado</th>
                                  <th>Participantes</th>
                                  <th>Solicitud</th>                                 
                                  <th>Informe</th>
                                  <th>Resolución</th>
                                  {% if i.editar == 1 %}
                                  <th>Editar</th>
                                  {% endif %}
                                  {% if i.eliminar == 1 %}
                                    <th>Eliminar</th>
                                  {% endif %}
                                {% endfor %}
                              </tr>
                          </thead>
                          <tbody class="{{n}}">
                            {% include "proyecto/proyecto/ajax_proyecto.html" %}
                          </tbody>
                      </table> 
                      {% with lista as paginacion  %}
                          {% include "paginacion.html" %}
                      {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modalP"></div>
<div class="modalA"></div>


{% with nombre=formu n=p u=n%}
<div id="Modal{{n}}" class="modal fade bs-example-modal-lg" aria-hidden="true">
    
    <div class="modal-dialog modal-lg">
    
        <div class="modal-content">
            <div class="modal-body">
                <h5>Formulario <small>llenar todos los campos</small></h5>
               
                    <div class="ibox-content">
                        <div class="row">
                            <form method="post" enctype="multipart/form-data" id="formulario{{n}}">
                            {% csrf_token %}
                            <div class="col-sm-4 b-r"><h3 class="m-t-none m-b">Registrar Proyecto</h3>
                                {{formu.idsemestre}}
                                <label for="id_documento">Proyecto:</label>
                                {{formu.documento}}
                                {{formu.fecharecepcion}}
                                {{formu.idestado}}
                                <label for="id_fechainicio">Fecha de Inicio:</label>
                                {{formu.fechainicio}}
                                <label for="id_fechatermino">Fecha de Culminación:</label>
                                {{formu.fechatermino}}
                                <br>
                                <label for="id_archivo">Agregar Proyecto:</label>
                                {{formu.archivo}}
             
                                
                            </div>
                            <div class="col-sm-4  b-r"><h4>Contenido</h4>
                                <label for="id_asunto">Asunto:</label>
                                {{formu.asunto}}
                                <br>


                                <label for="id_solicitud">Solicitud:</label>
                                <br>
                                <a href="#" id="addsolitud" onclick="solicitud()">                                  
                                  <i class="fa fa-plus-circle"></i> agregar solicitud          
                                </a>
                                <table class="table" >
                                  <tbody id="mostrarSoli"></tbody>
                                </table>
                                <div id="soli"></div>

                            </div>
                            <div class="col-sm-4" style="overflow-y: auto;height: 400px;"><h4>Participantes</h4>
                                <a href="#" id="addparticipante" onclick="modalidad('participante')">                        
                                  <i class="fa fa-plus-circle"></i> agregar Participantes           
                                </a>
                                <a href="#" id="editparticipante" style="display: none" onclick="editmodalidad('participante')">                        
                                  <i class="fa fa-pencil-square-o fa-2x"></i> Editar Participantes           
                                </a>                                
                                <table class="table dis" >
                                  <thead>
                                    <tr>
                                      <th>Código</th>
                                      <th>Nombres</th>
                                      <th>Modalidad</th>
                                    </tr>
                                  </thead>
                                  <tbody id="mostrarparticipantes"></tbody>
                                </table>
                                                                   
                                
                            </div>

                            </form> 
                        </div>
                    </div>
        </div>


            <div class="modal-footer">
                <input class="btn btn-sm btn-primary" onclick="guardarFP('{{url}}','{{n}}','{{u}}')"  type="button" value= "guardar"/>
                <button type="button" class="btn btn-sm  btn-danger" data-dismiss="modal"> Cancelar</button>
            </div>
            

        </div>

    </div>
</div>
{% endwith %}

<div id="participante"></div>
<div id="modalAdd"></div>   
{% load static from  staticfiles %}


<script src="{%static 'js/base.js' %}"></script>
<script src="{%static 'js/proyecto.js' %}"></script>
<script src="{%static 'js/busqueda-tabla.js' %}"></script>
<script src="{%static 'js/modal.js' %}"></script>
<script src="{%static 'js/proyecto-solicitud.js' %}"></script>
<script src="{%static 'js/proyecto-informe.js' %}"></script>
<script src="{%static 'js/proyecto-resolucion.js' %}"></script>
<script src="{%static 'js/modalidad.js' %}"></script>
