{% csrf_token %}
<div class="ibox-content">
 <div class="row">
   <div class="col-md-6 b-r">
    <label for="id_idoficina" 
    {% if formu.idoficina.errors %}
      {% for error in formu.idoficina.errors %}
        data-html="true" data-toggle="popover" data-content="
            <p style='color:red; font-size: 13px; margin: 0 0 0px;'> {{ error|escape }}</p>
        "
      {% endfor %}
    {% endif %}
    >Oficina:</label>
    {{formu.idoficina.errors}}
    {{formu.idoficina}}      

  

    <label for="id_numeroresolucion" 
    {% if formu.numeroresolucion.errors %}
      {% for error in formu.numeroresolucion.errors %}
        data-html="true" data-toggle="popover" data-content="
            <p style='color:red; font-size: 13px; margin: 0 0 0px;'> {{ error|escape }}</p>
        "
      {% endfor %}
    {% endif %}
    >numero de resolucion:</label>
    {{formu.numeroresolucion.errors}}
    {{formu.numeroresolucion}}    

    <label for="id_proveidoresolucion" 
    {% if formu.proveidoresolucion.errors %}
      {% for error in formu.proveidoresolucion.errors %}
        data-html="true" data-toggle="popover" data-content="
            <p style='color:red; font-size: 13px; margin: 0 0 0px;'> {{ error|escape }}</p>
        "
      {% endfor %}
    {% endif %}
    >Proveido:</label>
    {{formu.proveidoresolucion.errors}}
    {{formu.proveidoresolucion}} 

    <label for="id_fechadocumento" 
    {% if formu.fechadocumento.errors %}
      {% for error in formu.fechadocumento.errors %}
        data-html="true" data-toggle="popover" data-content="
            <p style='color:red; font-size: 13px; margin: 0 0 0px;'> {{ error|escape }}</p>
        "
      {% endfor %}
    {% endif %}
    >fecha de documento:</label>
    {{formu.fechadocumento.errors}}
    {{formu.fechadocumento}}    

    <label for="id_fechaenvio" 
    {% if formu.fechaenvio.errors %}
      {% for error in formu.fechaenvio.errors %}
        data-html="true" data-toggle="popover" data-content="
            <p style='color:red; font-size: 13px; margin: 0 0 0px;'> {{ error|escape }}</p>
        "
      {% endfor %}
    {% endif %}
    >fecha de envio:</label>
    {{formu.fechaenvio.errors}}
    {{formu.fechaenvio}}   

   </div>
   <div class="col-md-6">
    <label for="id_asuntoresolucion" 
    {% if formu.asuntoresolucion.errors %}
      {% for error in formu.asuntoresolucion.errors %}
        data-html="true" data-toggle="popover" data-content="
            <p style='color:red; font-size: 13px; margin: 0 0 0px;'> {{ error|escape }}</p>
        "
      {% endfor %}
    {% endif %}
    >Asunto:</label>
    {{formu.asuntoresolucion.errors}}
    {{formu.asuntoresolucion}}    
 
    <label for="id_archivoresolucion" 
    {% if formu.archivoresolucion.errors %}
      {% for error in formu.archivoresolucion.errors %}
        data-html="true" data-toggle="popover" data-content="
            <p style='color:red; font-size: 13px; margin: 0 0 0px;'> {{ error|escape }}</p>
        "
      {% endfor %}
    {% endif %}
    >archivo de resolucion:</label>
    {{formu.archivoresolucion.errors}}
    {{formu.archivoresolucion}}            
   </div>
  </div>
</div>

      