<div id="Modal{{n}}" class="modal fade in" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                 <h1>{{n}}</h1>
                 <form method="post" id="formulario{{n}}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-6 b-r">
                                <label for="id_idoficina">Oficina:</label>
                                {{nombre.idoficina}}
                                <label for="id_numeroresolucion">Número de la Resolución:</label>
                                {{nombre.numeroresolucion}}
                                <label for="id_proveidoresolucion">Proveido de la Resolución:</label>
                                {{nombre.proveidoresolucion}}
                                <label for="id_fechadocumento">Fecha de documento:</label>
                                {{nombre.fechadocumento}}
                                <label for="id_fechaenvio">Fecha de envio:</label>
                                {{nombre.fechaenvio}}
                            </div>

                            <div class="col-md-6">
                                <label for="id_asuntoresolucion">Asunto de la Resolución:</label>
                                {{nombre.asuntoresolucion}}
                                <label for="id_archivoresolucion">Archivo de la Resolución:</label>
                                {{nombre.archivoresolucion}}
                                
                            </div>                        
                        </div>                    
                    </div>
                 </form> 
                
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-primary guar" onclick="guardar{{f}}('{{url}}','{{n}}','{{u}}')"id="{{i}}" type="button">guardar</button>
                <button type="button"  class="btn btn-sm  btn-danger" data-dismiss="modal"> Cancelar</button>
            </div>
        </div>

    </div>
</div>