<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <br>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <strong>Mostrar Resolución</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title form-inline">
                  <button type="button" onclick="cargar('registro_proyecto')" class="btn btn-white"><i class="fa fa-chevron-left"></i> Atrás</button> <br>                   
                  
                </div>
                <div class="ibox-content table-responsive">
                  
                  {% for p in lista  %}
                    <div class="rows container" style="width:100%">
                      <div class="col-md-8 b-r">
                        <h2><strong>resolucion:</strong></h2>
                        <p>{{p.idresolucion.numeroresolucion}}</p><br>
                      </div>
                      <div class="col-md-4">
                        <label>Fecha de resolucion:</label><br>
                        {{p.idresolucion.fechadocumento}}<br><br>                      
     
                      </div>
                    </div>
                    <hr>

                    <div class="rows">
                      <div class="col-md-4 b-r">
                        <label>Proveido:</label> <p>{{p.idresolucion.proveidoresolucion}}</p>

                        <label>Archivo del resolucion:</label><br>
                        <a href="media/{{p.idresolucion.archivoresolucion}}" target="_blank">→ ver resolucion</a><br><br>                  

                      </div>
                      <div class="col-md-4 b-r">
                        <label>Asunto:</label><br>
                        <p>{{p.idresolucion.asuntoresolucion}}</p>                        
                       
                      </div>                      
                      <div class="col-md-4">
                        <label>Editar Resolución:</label><br>
                        <a class="btn btn-white" href="#resolucion" 
                        onclick="editarresolucion('{{p.idresolucion.id}}')" >Editar</a>

                      </div>
                          
                    </div>
                  {% endfor %}                      
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="resolucionM"></div>
<div class="modalP"></div>
            
{% load static from  staticfiles %}
<script src="{%static 'js/base.js' %}"></script>
<script src="{%static 'js/modal.js' %}"></script>
<script src="{%static 'js/proyecto.js' %}"></script>
<script src="{%static 'js/proyecto-resolucion.js' %}"></script>

