                                        <tr>
                                          <td>1</td>
                                          <td>Alumnos</td>
                                          <td>{{rec}}</td>
                                        </tr>

                                        <tr>
                                          <td>2</td>
                                          <td>Docentes</td>
                                          <td>{{rev}}</td>
                                        </tr>

                                        <tr>
                                          <td>3</td>
                                          <td>Administrativos</td>
                                          <td>{{apr}}</td>
                                        </tr>

                                        <tr>
                                          <td>4</td>
                                          <td>Otros</td>
                                          <td>{{nap}}</td>
                                        </tr> 