        <tr>
          <td>1</td>
          <td>Recibido</td>
          <td>{{rec}}</td>
        </tr>

        <tr>
          <td>2</td>
          <td>Revisado</td>
          <td>{{rev}}</td>
        </tr>

        <tr>
          <td>3</td>
          <td>Aprobado</td>
          <td>{{apr}}</td>
        </tr>

        <tr>
          <td>4</td>
          <td>No aprobado</td>
          <td>{{nap}}</td>
        </tr> 

        <tr>
          <td>5</td>
          <td>Ejecutado</td>
          <td>{{eje}}</td>
        </tr> 

        <tr>
          <td>6</td>
          <td>No Ejecutado</td>
          <td>{{neje}}</td>
        </tr> 


