<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <br>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <strong>Reportes Consolidados</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                  <div class="panel-heading">
                    <div class="panel-options">
                      <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-1" data-toggle="tab">Reportes 1</a></li>
                        <li>
                          <a  href="#tab-2" data-toggle="tab">
                            Reportes 2
                          </a>  
                        </li>
                      </ul>
                    </div>
                  </div>  
                  <h3 align="center">REPORTES CONSOLIDADOS</h3>
                  <div class="panel-body">
                    <div class="tab-content">                    
                      <div class="tab-pane active" id="tab-1">
                          <div class="ibox-content todo">                     
                             <br>
                              <div class="col-md-3"></div>
                              <div class="col-md-7">
                                <div class="form-inline">
                                  <label>Desde:</label>
                                  <input type="date" id="fecha_ini" onblur="repor()" class="form-control input-sm">
                                  <label>Hasta:</label>
                                  <input type="date" id="fecha_ter" onblur="repor()" value="{{fecha}}"class="form-control input-sm">  
                                  <input class="btn btn-sm btn-primary " onclick="repor()"  type="button" value= "Ver"/>
                                  <a id="imprime" href="#"title="Imprimir" >
                                    <i class="fa fa-print fa-2x"></i>
                                  </a>                             
                                </div>
                              </div>
                              <div class="col-md-2"></div>
                              <hr>
                                  {% csrf_token %}                                 
                             
                              <div class="row">
                                  <div class="col-sm-4 b-r"><h3 class="m-t-none m-b">Respuesta</h3>            
                                    <table class="table table-bordered" style="  margin-bottom: -5px;">
                                      <thead>
                                        <tr>
                                          <th>#</th>
                                          <th>Estado</th>
                                          <th>Cantidad</th>
                                        </tr>
                                      </thead>
                                      <tbody  class="rep">
                                        <tr>
                                          <td>1</td>
                                          <td>Recibido</td>
                                          <td>{{rec}}</td>
                                        </tr>

                                        <tr>
                                          <td>2</td>
                                          <td>Revisado</td>
                                          <td>{{rev}}</td>
                                        </tr>

                                        <tr>
                                          <td>3</td>
                                          <td>Aprobado</td>
                                          <td>{{apr}}</td>
                                        </tr>

                                        <tr>
                                          <td>4</td>
                                          <td>No aprobado</td>
                                          <td>{{nap}}</td>
                                        </tr> 

                                        <tr>
                                          <td>5</td>
                                          <td>Ejecutado</td>
                                          <td>{{eje}}</td>
                                        </tr> 

                                        <tr>
                                          <td>6</td>
                                          <td>No Ejecutado</td>
                                          <td>{{neje}}</td>
                                        </tr> 


                                      </tbody>
                                    </table>
                                  </div>
                                  
                                  <div class="col-sm-8 b-r"><h4>Reporte Gráfico</h4>
                                    <div id="rgrafico"></div> 
                                  </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane" id="tab-2">
                          <div class="ibox-content todo2">                     
                             <br>
                              <div class="col-md-3"></div>
                              <div class="col-md-7">
                                <div class="form-inline">

                                  <select class="form-control chosen-select" onchange="sem(this)" name="ids">
                                    {% for c in  idsemestre %}
                                      <option value="{{c.id}}" >{{c.descripcion}}</option>
                                    {% endfor %}
                                  </select>
                                  <a id="imprime2" href="#"title="Imprimir" >
                                    <i class="fa fa-print fa-2x"></i>
                                  </a>                             
                                </div>
                              </div>
                              <div class="col-md-2"></div>
                              <hr>
                                  {% csrf_token %}                                 
                             
                              <div class="row">
                                  <div class="col-sm-4 b-r"><h3 class="m-t-none m-b">Respuesta</h3>            
                                    <table class="table table-bordered" style="  margin-bottom: -5px;">
                                      <thead>
                                        <tr>
                                          <th>#</th>
                                          <th>Estado</th>
                                          <th>Cantidad</th>
                                        </tr>
                                      </thead>
                                      <tbody  class="rep2">
                                        <tr>
                                          <td>1</td>
                                          <td>Alumnos</td>
                                          <td>{{rec}}</td>
                                        </tr>

                                        <tr>
                                          <td>2</td>
                                          <td>Docentes</td>
                                          <td>{{rev}}</td>
                                        </tr>

                                        <tr>
                                          <td>3</td>
                                          <td>Administrativos</td>
                                          <td>{{apr}}</td>
                                        </tr>

                                        <tr>
                                          <td>4</td>
                                          <td>Otros</td>
                                          <td>{{nap}}</td>
                                        </tr> 

                                      </tbody>
                                    </table>
                                  </div>
                                  
                                  <div class="col-sm-8 b-r"><h4>Reporte Gráfico</h4>
                                    <div id="rgrafico2"></div> 
                                  </div>
                          </div>
                      </div>                      
                    </div>
                  </div>
                  
                </div>
                
            </div>
        </div>
    </div>
</div>            

{% load static from  staticfiles %}
<script src="{%static 'js/jquery.printarea.js' %}"></script>
<script src="{%static 'js/reportes.js' %}"></script>


