{% csrf_token %}
<div class="ibox-content">
 <div class="row">
   <div class="col-md-6 b-r">
    <label for="id_idoficina" 
    {% if formu.idoficina.errors %}
      {% for error in formu.idoficina.errors %}
        data-html="true" data-toggle="popover" data-content="
            <p style='color:red; font-size: 13px; margin: 0 0 0px;'> {{ error|escape }}</p>
        "
      {% endfor %}
    {% endif %}
    >Oficina:</label>
    {{formu.idoficina.errors}}
    {{formu.idoficina}}      

  

    <label for="id_numeroinforme" 
    {% if formu.numeroinforme.errors %}
      {% for error in formu.numeroinforme.errors %}
        data-html="true" data-toggle="popover" data-content="
            <p style='color:red; font-size: 13px; margin: 0 0 0px;'> {{ error|escape }}</p>
        "
      {% endfor %}
    {% endif %}
    >numero de informe:</label>
    {{formu.numeroinforme.errors}}
    {{formu.numeroinforme}}    

    <label for="id_proveidoinforme" 
    {% if formu.proveidoinforme.errors %}
      {% for error in formu.proveidoinforme.errors %}
        data-html="true" data-toggle="popover" data-content="
            <p style='color:red; font-size: 13px; margin: 0 0 0px;'> {{ error|escape }}</p>
        "
      {% endfor %}
    {% endif %}
    >Proveido:</label>
    {{formu.proveidoinforme.errors}}
    {{formu.proveidoinforme}} 

    <label for="id_fechadocumento" 
    {% if formu.fechadocumento.errors %}
      {% for error in formu.fechadocumento.errors %}
        data-html="true" data-toggle="popover" data-content="
            <p style='color:red; font-size: 13px; margin: 0 0 0px;'> {{ error|escape }}</p>
        "
      {% endfor %}
    {% endif %}
    >fecha de documento:</label>
    {{formu.fechadocumento.errors}}
    {{formu.fechadocumento}}    

    <label for="id_fechaenvio" 
    {% if formu.fechaenvio.errors %}
      {% for error in formu.fechaenvio.errors %}
        data-html="true" data-toggle="popover" data-content="
            <p style='color:red; font-size: 13px; margin: 0 0 0px;'> {{ error|escape }}</p>
        "
      {% endfor %}
    {% endif %}
    >fecha de envio:</label>
    {{formu.fechaenvio.errors}}
    {{formu.fechaenvio}}   

   </div>
   <div class="col-md-6">
    <label for="id_asuntoinforme" 
    {% if formu.asuntoinforme.errors %}
      {% for error in formu.asuntoinforme.errors %}
        data-html="true" data-toggle="popover" data-content="
            <p style='color:red; font-size: 13px; margin: 0 0 0px;'> {{ error|escape }}</p>
        "
      {% endfor %}
    {% endif %}
    >Asunto:</label>
    {{formu.asuntoinforme.errors}}
    {{formu.asuntoinforme}}    
 
    <label for="id_archivoinforme" 
    {% if formu.archivoinforme.errors %}
      {% for error in formu.archivoinforme.errors %}
        data-html="true" data-toggle="popover" data-content="
            <p style='color:red; font-size: 13px; margin: 0 0 0px;'> {{ error|escape }}</p>
        "
      {% endfor %}
    {% endif %}
    >archivo de informe:</label>
    {{formu.archivoinforme.errors}}
    {{formu.archivoinforme}}            
   </div>
  </div>
</div>

      