{% csrf_token %}
    <label for="nombre"
    {% if formu.externo.errors %}
    data-html="true" data-toggle="popover" data-content="
        <p style='color:red; font-size: 13px; margin: 0 0 0px;'> este campo es obligatorio </p>
    "
    {% endif %}
    >Nombre:</label>
    {{formu.nombre.errors}}
    {{formu.nombre}}

    <label for="apellido"
    {% if formu.externo.errors %}
    data-html="true" data-toggle="popover" data-content="
        <p style='color:red; font-size: 13px; margin: 0 0 0px;'> este campo es obligatorio </p>
    "
    {% endif %}
    >Apellido:</label>
    {{formu.apellido.errors}}
    {{formu.apellido}}

    <label for="dni"
    {% if formu.externo.errors %}
    data-html="true" data-toggle="popover" data-content="
        <p style='color:red; font-size: 13px; margin: 0 0 0px;'> este campo es obligatorio </p>
    "
    {% endif %}
    >DNI:</label>
    {{formu.dni.errors}}
    {{formu.dni}}

    <label for="codigo"
    {% if formu.externo.errors %}
    data-html="true" data-toggle="popover" data-content="
        <p style='color:red; font-size: 13px; margin: 0 0 0px;'> este campo es obligatorio </p>
    "
    {% endif %}
    >Codigo:</label>
    {{formu.codigo.errors}}
    {{formu.codigo}}


    <label for="celular"
    {% if formu.externo.errors %}
    data-html="true" data-toggle="popover" data-content="
        <p style='color:red; font-size: 13px; margin: 0 0 0px;'> este campo es obligatorio </p>
    "
    {% endif %}
    >Celular:</label>
    {{formu.celular.errors}}
    {{formu.celular}}

    <label for="formacionacademica"
    {% if formu.externo.errors %}
    data-html="true" data-toggle="popover" data-content="
        <p style='color:red; font-size: 13px; margin: 0 0 0px;'> este campo es obligatorio </p>
    "
    {% endif %}
    >Formacion Academica:</label>
    {{formu.formacionacademica.errors}}
    {{formu.formacionacademica}}

    <label for="ocupacion"
    {% if formu.externo.errors %}
    data-html="true" data-toggle="popover" data-content="
        <p style='color:red; font-size: 13px; margin: 0 0 0px;'> este campo es obligatorio </p>
    "
    {% endif %}
    >Ocupacion:</label>
    {{formu.ocupacion.errors}}
    {{formu.ocupacion}}

    <label for="centrolabores"
    {% if formu.externo.errors %}
    data-html="true" data-toggle="popover" data-content="
        <p style='color:red; font-size: 13px; margin: 0 0 0px;'> este campo es obligatorio </p>
    "
    {% endif %}
    >Centro de labores:</label>
    {{formu.centrolabores.errors}}
    {{formu.centrolabores}}