{% csrf_token %}
    <label for="id_nombre" 
    {% if formu.nombre.errors %}
      {% for error in formu.nombre.errors %}
        data-html="true" data-toggle="popover" data-content="
            <p style='color:red; font-size: 13px; margin: 0 0 0px;'> {{ error|escape }}</p>
        "
      {% endfor %}
    {% endif %}
    >Nombres:</label>
    {{formu.nombre.errors}}
    {{formu.nombre}}    

    <label for="id_apellido" 
    {% if formu.apellido.errors %}
      {% for error in formu.apellido.errors %}
        data-html="true" data-toggle="popover" data-content="
            <p style='color:red; font-size: 13px; margin: 0 0 0px;'> {{ error|escape }}</p>
        "
      {% endfor %}
    {% endif %}
    >Apellidos:</label>
    {{formu.apellido.errors}}
    {{formu.apellido}}    

    <label for="id_codigo" 
    {% if formu.codigo.errors %}
      {% for error in formu.codigo.errors %}
        data-html="true" data-toggle="popover" data-content="
            <p style='color:red; font-size: 13px; margin: 0 0 0px;'> {{ error|escape }}</p>
        "
      {% endfor %}
    {% endif %}
    >Código:</label>
    {{formu.codigo.errors}}
    {{formu.codigo}}        
