<div id="Modal{{n}}" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                 <h1>{{n}}</h1>
                 <form id="formulario{{n}}">
                    {% csrf_token %}
                    <div class="ibox-content">
                    {{nombre}}
                    </div>
                 </form> 
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-primary guar" onclick="guardarP('{{url}}','{{n}}','{{u}}','{{t}}')" type="button">guardar</button>
                <button type="button"  class="btn btn-sm  btn-danger" onclick="cerrarModal('Modal{{n}}')"> Cancelar</button>
            </div>
        </div>

    </div>
</div>