<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <br>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <strong>Mostrar Participantes</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title form-inline">
                  <button type="button" onclick="cargar('registro_proyecto')" class="btn btn-white"><i class="fa fa-chevron-left"></i> Atrás </button> <br>             
                  
                </div>
                <div class="ibox-content table-responsive">
                  <table class="table table-hover">
                    <caption>Lista de participantes</caption>
                    <a href="#editar participantes">
                    Editar
                    <i onclick="actualizarparticipante('participante',{{id}})" class="fa fa-pencil-square-o fa-2x"></i>
                    </a>
                    <thead>
                      <tr>
                        <th>Código</th>
                        <th>Nombres</th>
                        <th>Modalidad</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for p in docente  %}
                      <tr>
                        <td>{{p.iddocente__codigo}}</td>
                        <td>{{p.iddocente__nombre}}  {{p.iddocente__apellido}}</td>
                        <td>{{p.modalidaddocente__descripcion}}</td>
                      </tr>
                      {% endfor %}
                      {% for p in alumno  %}
                      <tr>
                        <td>{{p.idalumno__codigo}}</td>
                        <td>{{p.idalumno__nombre}}  {{p.idalumno__apellido}}</td>
                        <td>{{p.modalidadalumno__descripcion}}</td>
                      </tr>
                      {% endfor %}
                      {% for p in administrativo  %}
                      <tr>
                        <td>{{p.idadministrativo__codigo}}</td>
                        <td>{{p.idadministrativo__nombre}}  {{p.idadministrativo__apellido}}</td>
                        <td>{{p.modalidadadministrativo__descripcion}}</td>
                      </tr>
                      {% endfor %} 
                      {% for p in externo  %}
                      <tr>
                        <td>{{p.idpexterno__codigo}}</td>
                        <td>{{p.idpexterno__nombre}}  {{p.idpexterno__apellido}}</td>
                        <td>{{p.modalidadexterno__descripcion}}</td>
                      </tr>
                      {% endfor %}  
                    </tbody>
                  </table>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>
<div id="participante"></div>
<div id="modalAdd"></div>   
<form  method="get" id="formpar" style="display: none">
    {% csrf_token %}
    <div id="contp">
          
    </div>
</form>

            
{% load static from  staticfiles %}
<script src="{%static 'js/base.js' %}"></script>
<script src="{%static 'js/modal.js' %}"></script>
<script src="{%static 'js/proyecto.js' %}"></script>
<script src="{%static 'js/modalidad.js' %}"></script>

