{% load static from  staticfiles %}
<link href="{%static 'css/fotoperfil.css' %}" rel="stylesheet"/>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <br>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <strong>Perfil</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="row animated fadeInRight">
    <div class="col-md-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Perfil</h5>
                        </div>
                        <div>
                            <div class="ibox-content no-padding border-left-right">
                                <form method="post" enctype="multipart/form-data" id="formularioImg">
                                    {% csrf_token %}
                                    <div class="perfilI">
                                        <input type="file"  id="imgInp" accept="image/*" name="foto" value="" placeholder="">
                                        <img id="img" width="200px" height="200px" class="vista img-responsive di" src="" alt="">
                                        {% if user.foto %}
                                             <img alt="image" width="200px" class="img-responsive re" src="media/{{user.foto}}">
                                        {% else %}
                                            <img alt="image" width="200px" class="img-responsive re" src="static/img/miuser.jpg">
                                        {% endif %}
                                        <a href="#" >
                                            <i style="display:none" class="fa fa-pencil fa-2x pen re"></i>
                                        </a>                                   
                                    </div>
                                </form>
                                <a href="#">
                                        <i onclick="guardarI('fotoperfil/')" style="color:green" class="fa fa-check fa-2x di"></i>
                                </a>
                                <a href="#">
                                        <i onclick="cancel()" style="color:red" class="fa fa-ban fa-2x di xx"></i>
                                </a>                                                                   

                                
                                
                            </div>
                            <div class="ibox-content profile-content">
                                <h4><strong>{{user.usuario|title}} - {{user.idperfil.descripcion}}</strong></h4>

                                <p><i class="fa fa-map-marker"></i> NOMBRE: {{user.nombres}}</p>
                                <p><i class="fa fa-map-marker"></i> APELLIDO: {{user.apellidos}}</p>
                                <p><i class="fa fa-map-marker"></i> DNI: {{user.dni}}</p>
                                <p><i class="fa fa-map-marker"></i> TELÉFONO: {{user.telefono}}</p>
                                <div class="user-button">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <a href="#editar_info" onclick="edi()" class="btn btn-primary btn-sm btn-block">Editar Información</a>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="#cambio" class="btn btn-danger btn-sm btn-block " onclick="ccon('password')"></i>Cambiar Contraseña</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                    </div>
                <div class="col-md-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Historial</h5>
                        </div>
                        <div class="ibox-content his">
                        </div>
                    </div>

                </div>
</div>         
<script src="{%static 'js/fotoperfil.js' %}"></script>