<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <br>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <strong>Registro de Usuarios</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title form-inline">
                    {% for i in  estado %}
                    {% if i.insertar == 1 %}                
                    <button data-toggle="modal" data-target="#Modal" class="btn btn-sm btn-primary"><strong>Nuevo</strong></button>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="ibox-content table-responsive">
                     <h3 align="center">Usuarios</h3>
                     <table class="table table-bordered">
                          <thead>
                              <tr>
                                  <th>Usuario</th>
                                  <th>Nombres</th>
                                  <th>Apellidos</th>
                                  <th>Email</th>
                                  <th>Dni</th>
                                  <th>Teléfono</th>
                                  <th>Perfil</th>
                                  {% for i in  estado %}
                                  {% if i.editar == 1 %}
                                  <th>Contraseña</th>
                                  <th>Editar</th>
                                  {% endif %}
                                  {% if i.eliminar == 1 %}
                                    <th>Eliminar</th>
                                  {% endif %}
                                {% endfor %}
                              </tr>
                          </thead>
                          <tbody class="{{n}}">
                            {% include "seguridad/usuario/ajax_usuario.html" %}
                          </tbody>
                      </table> 
                </div>
            </div>
        </div>
    </div>
</div>            
<div class="modalP"></div>
{% with nombre=formu n=p u=n %}
    {% include "seguridad/modal.html" %} 
{% endwith %}

{% load static from  staticfiles %}
<script src="{%static 'js/base.js' %}"></script>