{% extends "base.html" %}

{% block titulo %}FISI | INVESTIGACION{% endblock%}

{% block estilos %}
    {% load static from  staticfiles %}

    <link rel="shortcut icon" href="http://img1.wikia.nocookie.net/__cb20100623155619/logopedia/images/b/b0/SJ_logo_90s.svg">
    
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.css'%}" rel="stylesheet">
    <!-- Toastr style -->
    <link href="{% static 'css/plugins/toastr/toastr.min.css'%}" rel="stylesheet">
    
    <link href="{% static 'css/plugins/chosen/chosen.css'%}" rel="stylesheet">

    <link href="{% static 'css/animate.css'%}" rel="stylesheet">
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
{% endblock%}


{% block contenido  %}
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element"> <span>
                            {% if user.foto %}
                                <img alt="image" class="img-circle" width="50px" src="media/{{user.foto}}" />
                            {% else %}
                                <img alt="image" class="img-circle" width="50px" src="{% static 'img/miuser.jpg' %} ">
                            {% endif %}                        
                            
                             </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear"> 
                                    <span class="block m-t-xs">
                                        <strong class="font-bold">{{user.usuario}}</strong>
                                    </span> 
                                    <span class="text-muted text-xs block">
                                        {{user.email}}
                                        <b class="caret"></b>
                                     </span>
                                </span> 
                             </a>

                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a class="url" name="profile" href="#profile">Perfil</a></li>
                                <li class="divider"></li>
                                <li><a href="salir">Cerrar Sesión</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            UNSM
                        </div>
                    </li>
                    {% for i in mod %}
                        {% if i.idmodulo__padre = 0  and i.ver == 1 %} 
                            <li class="">
                                <a href="{{i.idmodulo__url}}"><i class="{{i.idmodulo__icon}}"></i>
                                    <span class="nav-label">{{i.idmodulo__descripcion}}</span> 
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-second-level">
                                    {% for j in mod %}
                                         {% with submodulo=j.idmodulo__padre  modulo=i.idmodulo_id%} 
                                            {% if modulo == submodulo and j.ver == 1 %}
                                                <li ><a href="#{{j.idmodulo__url}}" name="{{j.idmodulo__url}}" class="url">{{j.idmodulo__descripcion}}</a></li>
                                            {% endif %}
                                        {% endwith %}
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}    
                    {% endfor %}
                </ul>

            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" action="#">
                <div class="form-group">
                    <input type="text" placeholder="Buscar" class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">Bienvenido a Sistema De Investigación</span>
                </li>

                <li>
                    <a href="salir">
                        <i class="fa fa-sign-out"></i> Cerrar Sesión
                    </a>
                </li>
            </ul>

        </nav>
        </div>
        <div id="result">    
                <div class="row  border-bottom white-bg dashboard-header">
                    
                    <div class="col-sm-12">
                        <h1 align="center">Bienvenido {{user.usuario|title}}</h1>
                        <!---
                        <small>tiene citas pendientes.</small>
                        <ul class="list-group clear-list m-t">
                            <li class="list-group-item fist-item">
                                <span class="pull-right">
                                    09:00 pm
                                </span>
                                <span class="label label-success">1</span> Porfavor Contácteme
                            </li>
                            <li class="list-group-item">
                                <span class="pull-right">
                                    10:16 am
                                </span>
                                <span class="label label-info">2</span>Aprobar contratos
                            </li>
                            <li class="list-group-item">
                                <span class="pull-right">
                                    08:22 am
                                </span>
                                <span class="label label-primary">3</span> Abrir juicios
                            </li>
                            <li class="list-group-item">
                                <span class="pull-right">
                                    11:06 am
                                </span>
                                <span class="label label-default">4</span> LLamar a  rector Anibal 
                                            </li>
                            <li class="list-group-item">
                                <span class="pull-right">
                                    12:00 am
                                </span>
                                <span class="label label-primary">5</span> Escribir mensaje
                            </li>
                        </ul>
                         -->
                    </div>
                   
                </div>

            </div>

    </div>

{% endblock  %}
  

{% block js %}

    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>


    <!--  plugin javascript -->
    <script src="{% static 'js/sisinvestigacion.js' %}"></script>

    <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
           
    <!-- Chosen -->
    <script src="{% static 'js/plugins/chosen/chosen.jquery.js' %}"></script>

    <!-- Toastr -->
    <script src="{% static 'js/plugins/toastr/toastr.min.js' %}"></script>   
    <script>
      $(document).ready(function() {
            setTimeout(function() {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 4000
                };
                toastr.success('UNSM -TARAPOTO', 'Bienvenido a SISINVESTIGACION');

            }, 1300);

            
      });
    </script> 
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>           
{% endblock %}