{% for p in administrativo %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{p.nombre}}</td>
    <td>{{p.apellido}}</td>
    <td>{{p.dni}}</td>
    <td>{{p.codigo}}</td>
    <td>{{p.celular}}</td>
    <td>{{p.idoficina.oficina}}</td>
    {% for i in  estado %}
    {% if i.editar == 1 %}
    <td>
      <a href="#">
        <i onclick="actualizar({{p.id}},'actualizar_administrativo','{{n}}')" class="fa fa-pencil-square-o fa-2x"></i>
      </a>
    </td>
    {% endif %}
    {% if i.eliminar == 1 %}
    <td>
      <a onclick="eliminar({{p.id}},'eliminar_administrativo','{{n}}')" href="#eliminar">
      <i style="color: red" class="fa fa-trash-o  fa-2x"></i>
      </a>
    </td>
    {% endif %}
  {% endfor %}
  </tr>
{% endfor %}

