<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <br>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <strong>Registro de Docente</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title form-inline">
                    {% for i in  estado %}
                    {% if i.insertar == 1 %}
                      <button data-toggle="modal" data-target="#Modal"class="btn btn-sm btn-primary" type="submit"><strong>Nuevo</strong></button>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="ibox-content">
                     <h3 align="center">Docente</h3>
                     <table class="table table-bordered">
                          <thead>
                              <tr>
                                {% for i in  estado %}
                                  <th>#</th>
                                  <th>Nombre</th>
                                  <th>Apellido</th>
                                  <th>DNI</th>
                                  <th>correo</th>
                                  {% if i.editar == 1 %}
                                  <th>Editar</th>  
                                  {% endif %}
                                  {% if i.eliminar == 1 %}
                                  <th>Eliminar</th>
                                  {% endif %}
                                {% endfor %}
                              </tr>
                          </thead>
                          <tbody class="{{n}}">
                            {% include "mantenimiento/docente/ajax_docente.html" %}
                          </tbody>
                      </table> 
                </div>
            </div>
        </div>
    </div>
</div>            
<div class="modalP"></div>
{% with nombre=formu n=p u=n%}
    {% include "seguridad/modal.html" %} 
{% endwith %}

{% load static from  staticfiles %}
<script src="{%static 'js/base.js' %}"></script>