{% for p in estado_proyecto %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{p.descripcion}}</td>
    {% for i in  estado1 %}
    {% if i.editar == 1 %}
    <td>
      <a href="#">
        <i onclick="actualizar({{p.id}},'actualizar_estado','{{n}}')" class="fa fa-pencil-square-o fa-2x"></i>
      </a>
    </td>
    {% endif %}
    {% if i.eliminar == 1 %}
    <td>
      <a onclick="eliminar({{p.id}},'eliminar_estado','{{n}}')" href="#eliminar">
      <i style="color: red" class="fa fa-trash-o  fa-2x"></i>
      </a>
    </td>
    {% endif %}
  {% endfor %}
  </tr>
{% endfor %}

