{% csrf_token %}
    <label for="descripcion"
    {% if formu.estado_proyecto.errors %}
    data-html="true" data-toggle="popover" data-content="
        <p style='color:red; font-size: 13px; margin: 0 0 0px;'> este campo es obligatorio </p>
    "
    {% endif %}
    >Descripción:</label>
    {{formu.descripcion.errors}}
    {{formu.descripcion}}

