{% csrf_token %}
    <label for="nombre"
    {% if formu.semestre_academico.errors %}
    data-html="true" data-toggle="popover" data-content="
        <p style='color:red; font-size: 13px; margin: 0 0 0px;'> este campo es obligatorio </p>
    "
    {% endif %}
    >Nombre:</label>
    {{formu.nombre.errors}}
    {{formu.nombre}}

    <label for="apellido"
    {% if formu.semestre_academico.errors %}
    data-html="true" data-toggle="popover" data-content="
        <p style='color:red; font-size: 13px; margin: 0 0 0px;'> este campo es obligatorio </p>
    "
    {% endif %}
    >Apellido:</label>
    {{formu.apellido.errors}}
    {{formu.apellido}}

    <label for="codigo"
    {% if formu.semestre_academico.errors %}
    data-html="true" data-toggle="popover" data-content="
        <p style='color:red; font-size: 13px; margin: 0 0 0px;'> este campo es obligatorio </p>
    "
    {% endif %}
    >Codigo:</label>
    {{formu.codigo.errors}}
    {{formu.codigo}}

